* {
    scroll-behavior: smooth;
}

.card img {
    height: 250px;
    width: 100%;
}

.contact {
    background: rgba(0, 123, 255, .2);
    border-radius: 4px;
}

.service-h4 {
    padding-bottom: 30px;
}

.service-icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
}

.service-box {
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.service-box:hover {
    box-shadow: 0px 1px 13px rgba(27, 27, 27, 0.705);
}

.contact-form .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.portfolio-item:hover .portfolio-btn {
    opacity: 1;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    top: 30px;
    left: 30px;
}

.portfolio-item .portfolio-btn {
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    opacity: 0;
    transition: .5s;
}